<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon@2x.png</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-80</string>
				<string>Icon-Small</string>
				<string>Icon-120</string>
				<string>Icon@2x.png</string>
				<string>Icon.png</string>
				<string>Icon-72@2x.png</string>
				<string>Icon-72.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-100</string>
				<string>Icon-40</string>
				<string>Icon-Small</string>
				<string>Icon-80</string>
				<string>Icon-152</string>
				<string>Icon-76</string>
				<string>Icon-120</string>
				<string>Icon@2x.png</string>
				<string>Icon.png</string>
				<string>Icon-72@2x.png</string>
				<string>Icon-72.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.photopon.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ig80d6a189f8d04baf95cc83792f0a70dd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb315234305202948</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.3</string>
	<key>FacebookAppID</key>
	<string>315234305202948</string>
	<key>FacebookDisplayName</key>
	<string>Photopon</string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Bold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-Thin.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>Lemon-Regular.ttf</string>
		<string>Carme-Regular.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
